body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:884px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:438px;
  height:884px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:688px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:100px;
  width:389px;
  height:687px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:140px;
  width:389px;
  height:1px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:108px;
  width:57px;
  height:24px;
  opacity:0.4;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:113px;
  width:14px;
  height:14px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:116px;
  width:8px;
  height:8px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:112px;
  width:16px;
  height:16px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:99px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:302px;
  width:200px;
  height:98px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:99px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:450px;
  width:200px;
  height:98px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:196px;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:115px;
  width:109px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:177px;
  width:85px;
  height:16px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:177px;
  width:75px;
  height:20px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
