body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1062px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:701px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:9px;
  width:1000px;
  height:700px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:734px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:50px;
  width:1px;
  height:733px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:41px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:10px;
  width:998px;
  height:40px;
  text-align:left;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:986px;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:995px;
  top:22px;
  width:9px;
  height:16px;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:62px;
  width:579px;
  height:260px;
}
#u1370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:0px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:0px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:40px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:40px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:40px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:132px;
  word-wrap:break-word;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:80px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:80px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:80px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:145px;
  height:20px;
  text-align:right;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:120px;
  width:145px;
  height:20px;
  text-align:left;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:120px;
  width:145px;
  height:20px;
  text-align:right;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:120px;
  width:144px;
  height:20px;
  text-align:left;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:140px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:133px;
  word-wrap:break-word;
}
#u1388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:140px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:140px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:180px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:180px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:180px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:141px;
  word-wrap:break-word;
}
#u1395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:220px;
  width:145px;
  height:40px;
  text-align:left;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:41px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:220px;
  width:145px;
  height:40px;
  text-align:right;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:41px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:220px;
  width:144px;
  height:40px;
  text-align:left;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:33px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:254px;
  width:394px;
  height:32px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:2px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:358px;
  width:541px;
  height:1px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:38px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:619px;
  top:56px;
  width:80px;
  height:35px;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:36px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:56px;
  width:80px;
  height:35px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:83px;
  height:38px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:56px;
  width:80px;
  height:35px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:585px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:101px;
  width:3px;
  height:582px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:125px;
  width:13px;
  height:13px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:39px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:124px;
  width:343px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  white-space:nowrap;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:385px;
  width:520px;
  height:80px;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
  text-align:right;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:40px;
  text-align:left;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:40px;
  text-align:right;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:40px;
  font-size:14px;
  text-align:left;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:130px;
  height:40px;
  text-align:right;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:40px;
  width:130px;
  height:40px;
  text-align:left;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:40px;
  width:130px;
  height:40px;
  text-align:right;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:40px;
  width:130px;
  height:40px;
  text-align:left;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:56px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:365px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:63px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:38px;
  width:173px;
  height:62px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:169px;
  word-wrap:break-word;
}
#u1418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:213px;
  width:13px;
  height:13px;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:17px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:97px;
  width:128px;
  height:16px;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:49px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:212px;
  width:237px;
  height:48px;
  font-size:13px;
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u1421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:296px;
  width:60px;
  height:48px;
}
#u1421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:296px;
  width:60px;
  height:48px;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:296px;
  width:60px;
  height:48px;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:48px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:296px;
  width:60px;
  height:48px;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:284px;
  width:13px;
  height:13px;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:17px;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:283px;
  width:236px;
  height:16px;
  font-size:13px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
