body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:884px;
}
#u1939 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:438px;
  height:884px;
}
#u1939_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:688px;
}
#u1940 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:100px;
  width:389px;
  height:687px;
}
#u1940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:118px;
}
#u1941 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:279px;
  width:207px;
  height:117px;
}
#u1941_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:203px;
  word-wrap:break-word;
}
#u1942 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:429px;
  width:207px;
  height:25px;
}
#u1942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1943 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:470px;
  width:207px;
  height:25px;
}
#u1943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u1944 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:529px;
  width:207px;
  height:40px;
}
#u1944_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u1945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u1945 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:140px;
  width:389px;
  height:1px;
}
#u1945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u1946 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:108px;
  width:57px;
  height:24px;
  opacity:0.4;
}
#u1946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1947 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:113px;
  width:14px;
  height:14px;
}
#u1947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1948 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:116px;
  width:8px;
  height:8px;
}
#u1948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:112px;
  width:16px;
  height:16px;
}
#u1949_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
