body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:884px;
}
#u1950 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:4px;
  width:438px;
  height:884px;
}
#u1950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:688px;
}
#u1951 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:100px;
  width:389px;
  height:687px;
}
#u1951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:118px;
}
#u1952 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:279px;
  width:207px;
  height:117px;
}
#u1952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:203px;
  word-wrap:break-word;
}
#u1953 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:429px;
  width:207px;
  height:25px;
}
#u1953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1954 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:470px;
  width:207px;
  height:25px;
}
#u1954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u1955 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:529px;
  width:207px;
  height:40px;
}
#u1955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u1956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:2px;
}
#u1956 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:140px;
  width:389px;
  height:1px;
}
#u1956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u1957 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:108px;
  width:57px;
  height:24px;
  opacity:0.4;
}
#u1957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1958 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:113px;
  width:14px;
  height:14px;
}
#u1958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1959 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:116px;
  width:8px;
  height:8px;
}
#u1959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1960 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:112px;
  width:16px;
  height:16px;
}
#u1960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
