body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1567px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:801px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:800px;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:71px;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:70px;
}
#u372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:14px;
  width:42px;
  height:42px;
}
#u373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:24px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:731px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:200px;
  height:730px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:1162px;
  top:14px;
  width:42px;
  height:42px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:38px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:1211px;
  top:27px;
  width:43px;
  height:16px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:80px;
  width:189px;
  height:440px;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:50px;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:189px;
  height:35px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:85px;
  width:189px;
  height:35px;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:189px;
  height:35px;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:189px;
  height:35px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:189px;
  height:50px;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:189px;
  height:50px;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:189px;
  height:50px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:189px;
  height:50px;
}
#u387_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:189px;
  height:50px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:185px;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:104px;
  width:78px;
  height:31px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:74px;
  word-wrap:break-word;
}
#u390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:958px;
  height:53px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:732px;
  width:957px;
  height:52px;
  text-align:left;
}
#u390_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:18px;
  width:945px;
  word-wrap:break-word;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:107px;
  width:299px;
  height:25px;
}
#u392_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:23px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:109px;
  width:27px;
  height:22px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:23px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:78px;
  width:158px;
  height:57px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:120px;
  width:0px;
  height:0px;
}
#u395_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:168px;
  height:8px;
}
#u395_seg1 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-37px;
  width:8px;
  height:41px;
}
#u395_seg2 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:-37px;
  width:546px;
  height:8px;
}
#u395_seg3 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:-37px;
  width:8px;
  height:28px;
}
#u395_seg4 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:-17px;
  width:50px;
  height:8px;
}
#u395_seg5 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:-22px;
  width:19px;
  height:18px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:318px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:297px;
  width:158px;
  height:57px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:959px;
  height:79px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:142px;
  width:958px;
  height:78px;
  text-align:left;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:954px;
  word-wrap:break-word;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:247px;
  width:983px;
  height:460px;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:61px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:60px;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:81px;
  word-wrap:break-word;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:61px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:0px;
  width:132px;
  height:60px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:128px;
  word-wrap:break-word;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:61px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:125px;
  height:60px;
}
#u401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:121px;
  word-wrap:break-word;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:61px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:0px;
  width:123px;
  height:60px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:61px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:0px;
  width:123px;
  height:60px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:119px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:61px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:0px;
  width:132px;
  height:60px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:128px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:61px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:132px;
  height:60px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:128px;
  word-wrap:break-word;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:61px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:0px;
  width:131px;
  height:60px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:127px;
  word-wrap:break-word;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:85px;
  height:40px;
}
#u407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:60px;
  width:132px;
  height:40px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:60px;
  width:125px;
  height:40px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:60px;
  width:123px;
  height:40px;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:60px;
  width:123px;
  height:40px;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:60px;
  width:132px;
  height:40px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:60px;
  width:132px;
  height:40px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:60px;
  width:131px;
  height:40px;
}
#u414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:85px;
  height:40px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:100px;
  width:132px;
  height:40px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:100px;
  width:125px;
  height:40px;
}
#u417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:100px;
  width:123px;
  height:40px;
}
#u418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:100px;
  width:123px;
  height:40px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:100px;
  width:132px;
  height:40px;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:100px;
  width:132px;
  height:40px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:100px;
  width:131px;
  height:40px;
}
#u422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:140px;
  width:85px;
  height:40px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:140px;
  width:132px;
  height:40px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:140px;
  width:125px;
  height:40px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:140px;
  width:123px;
  height:40px;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:140px;
  width:123px;
  height:40px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:140px;
  width:132px;
  height:40px;
}
#u428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:140px;
  width:132px;
  height:40px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:140px;
  width:131px;
  height:40px;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:85px;
  height:40px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:180px;
  width:132px;
  height:40px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:180px;
  width:125px;
  height:40px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:180px;
  width:123px;
  height:40px;
}
#u434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:180px;
  width:123px;
  height:40px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:180px;
  width:132px;
  height:40px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:180px;
  width:132px;
  height:40px;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:180px;
  width:131px;
  height:40px;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:85px;
  height:40px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:220px;
  width:132px;
  height:40px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:220px;
  width:125px;
  height:40px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:220px;
  width:123px;
  height:40px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:220px;
  width:123px;
  height:40px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:220px;
  width:132px;
  height:40px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:220px;
  width:132px;
  height:40px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:220px;
  width:131px;
  height:40px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:260px;
  width:85px;
  height:40px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:260px;
  width:132px;
  height:40px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:260px;
  width:125px;
  height:40px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:260px;
  width:123px;
  height:40px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:260px;
  width:123px;
  height:40px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:260px;
  width:132px;
  height:40px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:260px;
  width:132px;
  height:40px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:260px;
  width:131px;
  height:40px;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:85px;
  height:40px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:300px;
  width:132px;
  height:40px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:300px;
  width:125px;
  height:40px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:300px;
  width:123px;
  height:40px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:300px;
  width:123px;
  height:40px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:300px;
  width:132px;
  height:40px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:300px;
  width:132px;
  height:40px;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:300px;
  width:131px;
  height:40px;
}
#u462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:340px;
  width:85px;
  height:40px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:340px;
  width:132px;
  height:40px;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:340px;
  width:125px;
  height:40px;
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:340px;
  width:123px;
  height:40px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:340px;
  width:123px;
  height:40px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:340px;
  width:132px;
  height:40px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:340px;
  width:132px;
  height:40px;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:340px;
  width:131px;
  height:40px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:380px;
  width:85px;
  height:40px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:380px;
  width:132px;
  height:40px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:380px;
  width:125px;
  height:40px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:380px;
  width:123px;
  height:40px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:380px;
  width:123px;
  height:40px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:380px;
  width:132px;
  height:40px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:380px;
  width:132px;
  height:40px;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:380px;
  width:131px;
  height:40px;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:420px;
  width:85px;
  height:40px;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:81px;
  word-wrap:break-word;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:420px;
  width:132px;
  height:40px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:41px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:420px;
  width:125px;
  height:40px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:420px;
  width:123px;
  height:40px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:41px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:420px;
  width:123px;
  height:40px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:119px;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:420px;
  width:132px;
  height:40px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:41px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:420px;
  width:132px;
  height:40px;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:128px;
  word-wrap:break-word;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:41px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:420px;
  width:131px;
  height:40px;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:268px;
  width:30px;
  height:19px;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:268px;
  width:30px;
  height:19px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:1186px;
  top:326px;
  width:0px;
  height:0px;
}
#u489_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u489_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-9px;
  width:19px;
  height:18px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:72px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:737px;
  top:119px;
  width:176px;
  height:71px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:172px;
  word-wrap:break-word;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:58px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:1303px;
  top:153px;
  width:158px;
  height:57px;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:154px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:120px;
  width:0px;
  height:0px;
}
#u492_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:38px;
  height:8px;
}
#u492_seg1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-4px;
  width:8px;
  height:70px;
}
#u492_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:58px;
  width:57px;
  height:8px;
}
#u492_seg3 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:53px;
  width:19px;
  height:18px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:93px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:382px;
  width:259px;
  height:92px;
  text-align:left;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:255px;
  word-wrap:break-word;
}
